@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// Couleurs globales
$primary-color: #2b3e50;
$secondary-color: #eef2f5;
$button-color: #3498db;
$button-hover-color: #1abc9c;
$logout-color: #e74c3c;
$logout-hover-color: darken($logout-color, 10%);
