@import './_variables.scss';
// Fontes et arrières plans
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', serif;
  background-color: $secondary-color;
  color: #333;
  height: 100%;
  box-sizing: border-box;
}

// Titres
h1, h2, h3 {
  color: $primary-color;
  font-weight: bold;
}

h3 { 
  cursor: pointer;
  transition: opacity 0.3s ease; // Ajoute une transition fluide

  &:hover {
    opacity: 0.5; // Réduit l'opacité à 70% au survol
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $button-hover-color;
  }
}

// Espacement des conteneurs pour éviter que les champs sortent
.container {
  padding: 10px;
  max-width: 90%;
  margin: 0 auto;
}

button {
  background-color: $button-color;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover-color;
  }

  &.cancel {
    background-color: $logout-color;

    &:hover {
      background-color: $logout-hover-color;
    }
  }
}

// Champs de formulaire
input, textarea {
  font-family: 'Arial', sans-serif;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  word-wrap: break-word
}

// Styles pour les blocs
.block-item {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #ffffff;
    word-wrap: break-word; // Pour s'assurer que les mots longs se cassent
  
    h3 { 
      font-size: 1.5em;
      cursor: pointer;
      color: #000000;
    }
  
    p {
      background-color: #EFEFEF;
      padding: 10px;
      border-radius: 5px;
      margin: 10px 0;
      color: #000000;
      word-wrap: break-word; 
      white-space: pre-wrap; 
      overflow-wrap: break-word; 
      font-size: 1.1em; 
      text-align: left;
    }
  
    .block-buttons {
      display: flex;
      gap: 10px;
      flex-wrap: wrap; // Pour que les boutons passent à la ligne si nécessaire
    }
}
// Mobile Adaptation
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }

  input, textarea {
    width: 100%;
  }
}
