.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .features-section, .contact-section {
    margin: 20px 0;
    text-align: left;
  }
  
  .features-section article, .contact-section {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  h1, h2 {
    color: #2b3e50;
  }
  
  .home-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #1abc9c;
    }
  }
  
  .contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #2ecc71;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  